<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h4 class="card-text">
          Section Name: <%= form.text_field :name, id: :section_name, class: "form-control" %>
        </h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          Overheads: <%= form.text_field :overheads, id: :section_overheads, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= form.submit  "Create Section", class: "btn btn-primary btn-lg"  %>
  </div>
<% end %>
