<%= form_with(model: supervisor, local: true) do |form| %>
  <% if supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

      <ul>
      <% supervisor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :employee_id %>
      <%= collection_select(:employee,
                            :employee_id,
                            leaf_employees(),
                            :id,
                            :employee_name,
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :section_id %>
      <%= collection_select(:section,
                            :section_id,
                            Section.all(),
                            :id,
                            :section_name,
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>
  </div>






  <div class="actions">
    <%= form.submit "Create Supervisor", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
