<p id="notice"><%= notice %></p>

<section class="header">
  <div class="d-flex justify-content-between">
    <h1 class="col-md-3">Supervisors</h1>
    <section class="search-form col-md-9">
      <%= form_for :employees, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil,
                placeholder: "First name or last name",
                class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Find Supervisors",
                  class: "btn btn-primary btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>
  </div>
</section>

<br>
<section class="top-pager">
  <div class="d-flex justify-content-between">
    <%= will_paginate @supervisors, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    <%= button_to 'New Supervisor', new_supervisor_path, class: "btn" %>

  </div>
</section>
<br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supervisors.each do |supervisor| %>
      <%= render supervisor %>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @supervisors, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

<br>
