<div class="card" id="<%= credit_note.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= credit_note.creditor_order.creditor_order_name %>
      </h4>
      <h5>
        <%= number_to_currency(credit_note.amount_paid, unit: "R") %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row col-md-12">
      <h6><small class="text-muted">PAYMENT TYPE: </small> <%= credit_note.payment_type %></h6>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h6><small class="text-muted">NOTE: </small> <%= credit_note.note %> </h6>
      </div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_credit_note_path(credit_note), class: "btn btn-primary" %>
        <%= button_to 'Remove', credit_note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
