<%= form_with(model: credit_note, local: true) do |form| %>
  <% if credit_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_note.errors.count, "error") %> prohibited this credit_note from being saved:</h2>

      <ul>
      <% credit_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :creditor_order_id %>
      <%= collection_select(:credit_note,
                          :creditor_order_id,
                          CreditorOrder.all,
                          :id,
                          :creditor_order_name,
                          {prompt: true},
                          {class: "custom-select"}) %>
    </div>
    <div class="col-md-4">
      <%= form.label :total %>
      <h5 id="total"><%= number_to_currency(0.0, unit: "R") %></h5>
    </div>
    <div class="col-md-4">
      <%= form.label :still_owed_amount %>
      <h5 id="remaining"><%= number_to_currency(0.0, unit: "R") %></h5>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <%= form.label :invoice_code %>
      <%= form.text_field :invoice_code, id: :credit_note_invoice_code, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :amount_paid %>
      <%= form.text_field :amount_paid, id: :credit_note_amount_paid, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :payment_type %>
      <%= form.text_field :payment_type, id: :credit_note_payment_type, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-12">
      <%= form.label :note %>
      <%= form.text_field :note, id: :credit_note_note, class: "form-control" %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit "Create Creditor Payment", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
