<%= form_with(model: @credit_note) do |form| %>
  <% if @credit_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_note.errors.count, "error") %> prohibited this credit_note from being saved:</h2>

      <ul>
      <% @credit_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :creditor_order_id %>
      <%= collection_select(:credit_note,
                          :creditor_order_id,
                          CreditorOrder.all,
                          :id,
                          :creditor_order_name,
                          {prompt: true},
                          {class: "custom-select"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :payment_type %>
      <%= form.text_field :payment_type, id: :credit_note_payment_type, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :amount_paid %>
      <%= form.text_field :amount_paid, id: :credit_note_amount_paid, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <%= form.label :note %>
    <%= form.text_field :note, id: :credit_note_note, class: "form-control" %>
  </div>

  <br>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="d-flex col-md-2">
      <%= form.submit "Save", class: "btn btn-primary", remote: true %>
      <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
    </div>
  </div>
<% end %>
