<section class="header">
  <h1>Creditor Payments</h1>
</section>
<section class="search-form">
  <%= form_for :creditor_payments, method: :get do |f| %>
  <%= label_tag :keywords, nil, class: "sr-only" %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :keywords, nil,
          placeholder: "Search Creditor Payments" ,
          class: "form-control input-lg" %>
    <%= image_tag("loading.gif", class: "img-thumbnail loading_gif") %>
    <%= image_tag("typing.gif", class: "img-thumbnail typing_gif") %>
  </div>
  <% end %>
</section>

<%= render partial: 'shared/dates', locals: { path: "/credit_notes" } %>

<%= render partial: 'top_pager' %>


<section class="credit-note-panels">
  <% @credit_notes.each do |credit_note| %>
      <%= render credit_note %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
