<p id="notice"><%= notice %></p>

<p>
  <strong>Creditor order:</strong>
  <%= @credit_note.creditor_order %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @credit_note.payment_type %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @credit_note.amount_paid %>
</p>

<p>
  <strong>Note:</strong>
  <%= @credit_note.note %>
</p>

<%= link_to 'Edit', edit_credit_note_path(@credit_note) %> |
<%= link_to 'Back', credit_notes_path %>
