<%= form_with(model: @employee) do |form| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4 class="card-text">
        First name: <%= form.text_field :first_name, id: :employee_first_name, class: "form-control" %>
      </h4>
      <h4>
        Last name: <%= form.text_field :last_name, id: :employee_last_name, class: "form-control" %>
      </h4>
      <h5 class="card-text"> Occupation: <%= form.text_field :occupation, id: :employee_occupation, class: "form-control" %> </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        Section: <%= collection_select(:employee, :section_id, Section.all, :id, :section_name, {prompt: true}, {class: "custom-select"}) %>
      </div>
      <div class="col-md-6">
        Company number: <%= form.text_field :company_number, id: :employee_company_number, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Net rate: <%= form.text_field :net_rate, id: :employee_net_rate, class: "form-control" %>
      </div>
      <div class="col-md-6">
        Inclusive rate: <%= form.text_field :inclusive_rate, id: :employee_inclusive_rate, class: "form-control"%>
      </div>
    </div>
    <div class="form-row">
      <label>
        <%= form.check_box :eoc, id: :employee_eoc %> End of Contract
      </label>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= form.submit "Save", class: "btn btn-primary", remote: true %>
        <%= form.submit "Cancel", formaction: cancel_employee_path(id: @employee.id), class: "btn btn-disabled", remote: true, method: :get %>
      </div>
    </div>
  </div>
<% end %>
