<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Occupation</th>
      <th>Section</th>
      <th>Company number</th>
      <th>Net rate</th>
      <th>Inclusive rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.occupation %></td>
        <td><%= employee.section.name %></td>
        <td><%= employee.company_number %></td>
        <td><%= employee.net_rate %></td>
        <td><%= employee.inclusive_rate %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @employees, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

<br>

<%= link_to 'New Employee', new_employee_path %>
