<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Employees",
    entity: :employees,
    placeholder_text: "Search Employees" } %>


<%= render partial: 'top_pager' %>

<div class="d-flex justify-content-between">
  <div>
  </div>
  <div>
    <%= button_to 'New Employee', new_employee_path, class: "btn", method: :get %>
  </div>
</div>
<hr>
</br>
<section class="employee-panels">
  <%= render partial: 'employee', collection: @employees %>
</section>

<%= render partial: 'bottom_pager' %>
