<p id="notice"><%= notice %></p>

<section class="header">
  <div class="d-flex justify-content-between">
    <h1>Employees</h1>
    <%= button_to 'New Employee', new_employee_path, class: "btn" %>
  </div>


</section>

<section class="search-form">
  <%= form_for :employees, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
            placeholder: "First name or last name",
            class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Employees",
              class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>
<br>
<section class="top-pager">

<%= will_paginate @employees, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

</section>

<section class="employee-panels">
  <% @employees.each do |employee| %>
    <%= render employee %>
  <% end %>
</section>

<br>

<%= will_paginate @employees, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

<br>
