<div class="card" id="<%= debtor_payment.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
      </h4>
      <h5>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <%= debtor_payment.debtor_order.debtor_order_name %>
      <%= number_to_currency(debtor_payment.payment_amount, unit: "R") %>
      <%= debtor_payment.payment_date %>
      <%= debtor_payment.payment_type %>
      <%= debtor_payment.note %>
    </div>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_debtor_payment_path(debtor_payment), class: "btn btn-primary" %>
        <%= button_to 'Remove', debtor_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
