<div class="card" id="<%= debtor_payment.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= debtor_payment.debtor_order.debtor_order_name %>
      </h4>
      <h5>
        <%= number_to_currency(debtor_payment.payment_amount, unit: "R") %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h6><small class="text-muted">PAYMENT DATE: </small><%= debtor_payment.payment_date.strftime("%a, %d %b %Y: %H:%M:%S") %></h6>
      </div>
      <div class="col-md-6">
        <h6><small class="text-muted">PAYMENT TYPE: </small><%= debtor_payment.payment_type %></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10"><h6><small class="text-muted">NOTE: </small><%= debtor_payment.note %></h6></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_debtor_payment_path(debtor_payment), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', debtor_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
