<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Debtor Payments",
    entity: :debtor_payments,
    placeholder_text: "Search debtor payments" } %>

<%= render partial: 'top_pager' %>

<%= render partial: 'shared/dates', locals: { path: "/credit_notes" } %>

<section class="debtor-payment-panels">
  <% @debtor_payments.each do |debtor_payment| %>
      <%= render debtor_payment %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
