<p id="notice"><%= notice %></p>

<section class="header">
  <div class="d-flex justify-content-between">
    <h1 class="col-md-5">Debtor Payments</h1>
    <section class="search-form col-md-7">
      <%= form_for :debtor_payments, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil,
                placeholder: "Customer name or invoice code",
                class: "form-control input-lg" %>
          </span>
        </div>
      <% end %>
    </section>
  </div>
</section>

<%= render partial: 'top_pager' %>

<section class="debtor-payment-panels">
  <% @debtor_payments.each do |debtor_payment| %>
      <%= render debtor_payment %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
