<%= form_with(model: summary, local: true) do |form| %>

  <div class="field">
    <%= form.label :overheads %>
    <%= form.text_field :overheads, id: :summary_overheads %>
  </div>

  <div class="field">
    <%= form.label :target_jobs %>
    <%= form.text_field :target_jobs, id: :summary_target_jobs %>
  </div>

  <div class="actions">
    <%= form.submit "View Summary", method: "GET" %>
  </div>
<% end %>
