<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= summary.header %>
      </h4>
      <h5>
        <%= summary.subheader %>
      </h5>
    </div>
  </div>
  <div class="card-body">

    <table class="table table-hover table-striped">
      <thead>
        <td><h5 class="text-muted">LABOUR</h5></td>
        <td><h5 class="text-muted">OVERHEADS</h5></td>
        <td><h5 class="text-muted">ORDERS</h5></td>
        <td><h5 class="text-muted">TARGET JOBS</h5></td>
      </thead>
      <tbody>
        <tr>
          <td><%= number_to_currency(summary.labor, unit: "R") %></td>
          <td><%= number_to_currency(summary.overheads, unit: "R") %></td>
          <td><%= number_to_currency(summary.orders, unit: "R") %></td>
          <td><%= number_to_currency(summary.target_jobs, unit: "R") %></td>
        </tr>
        <tr>
          <td></td>
          <td><h6 class="text-muted">COST</h6></td>
          <td><h6 class="text-muted">PROFIT</h6></td>
          <td></td>
        </tr>
        <tr>
          <td><small class="text-muted">5%</small></td>
          <td><%= number_to_currency(summary.get_cost(1.05), unit: "R") %></td>
          <td><%= number_to_currency(summary.get_profit(1.05), unit: "R") %></td>
          <td></td>
        </tr>
        <tr>
          <td><small class="text-muted">10%</small></td>
          <td><%= number_to_currency(summary.get_cost(1.1), unit: "R") %></td>
          <td><%= number_to_currency(summary.get_profit(1.1), unit: "R") %></td>
          <td></td>
        </tr>
        <tr>
          <td><small class="text-muted">15%</small></td>
          <td><%= number_to_currency(summary.get_cost(1.15), unit: "R") %></td>
          <td><%= number_to_currency(summary.get_profit(1.15), unit: "R") %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
