<p id="notice"><%= notice %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Labour</th>
      <th>Overheads</th>
      <th>Orders</th>
      <th>Target jobs</th>
      <th>Cost @ 5%</th>
      <th>Cost @ 10%</th>
      <th>Cost @ 15%</th>
      <th>Profit @ 5%</th>
      <th>Profit @ 10%</th>
      <th>Profit @ 15%</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= number_to_currency(@summary.labor.values[0][0], unit: "R") %></td>
        <td><%= number_to_currency(@summary.overheads, unit: "R") %></td>
        <td><%= number_to_currency(@summary.orders.values[0][0], unit: "R") %></td>
        <td><%= number_to_currency(@summary.target_jobs, unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_cost(1.05), unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_cost(1.1), unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_cost(1.15), unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_profit(1.05), unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_profit(1.1), unit: "R") %></td>
        <td><%= number_to_currency(@summary.get_profit(1.15), unit: "R") %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', summaries_path %>
