<% total_before_tax = labor_record.normal_time_amount_before_tax + labor_record.overtime_amount_before_tax + labor_record.sunday_time_amount_before_tax %>
<% total_after_tax = labor_record.normal_time_amount_after_tax + labor_record.overtime_amount_after_tax + labor_record.sunday_time_amount_after_tax %>
<div class="card" id="<%= labor_record.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= labor_record.employee.employee_name %>
      </h4>
      <h5>
        <%= labor_record.labor_date.strftime("%a, %d %b %Y") %>
      </h5>
    </div>
  </div>
  <div class="card-body">

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">HOURS: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= labor_record.hours %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">SECTION: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= labor_record.section_name %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">NET RATE: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.employee.net_rate, unit: "R") %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">INCLUSIVE RATE: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.employee.inclusive_rate, unit: "R") %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">NORMAL TIME AMOUNT BEFORE TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.normal_time_amount_before_tax, unit: "R") %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">NORMAL TIME AMOUNT AFTER TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.normal_time_amount_after_tax, unit: "R") %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">OVERTIME AMOUNT BEFORE TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.overtime_amount_before_tax, unit: "R") %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">OVERTIME AMOUNT AFTER TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.overtime_amount_after_tax, unit: "R") %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">SUNDAY TIME AMOUNT BEFORE TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.sunday_time_amount_before_tax, unit: "R") %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">SUNDAY TIME AMOUNT AFTER TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(labor_record.sunday_time_amount_after_tax, unit: "R") %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">TOTAL AMOUNT BEFORE TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(total_before_tax, unit: "R") %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">TOTAL AMOUNT AFTER TAX: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= number_to_currency(total_after_tax, unit: "R") %></div></h6>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted">JOB NUMBER: </small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div><%= labor_record.job.jce_number %></div></h6>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <h6><div><small class="text-muted"></small></div></h6>
      </div>
      <div class="col-md-2 d-flex justify-content-start">
        <h6><div></div></h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_labor_record_path(labor_record), remote: true, method: :get, class: "btn btn-primary" %>
        <% confirm = "Are you sure?" %>
        <%= button_to 'Remove', labor_record, method: :delete, data: { confirm: confirm }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
