<section class="header">
  <h1 class="col-md-4">Labor Records</h1>
</section>
<section class="search-form">
  <div class="container">
  <%= form_tag "/labor_records", method: :get %>
  <div class="row">
    <div class="form-group col-md-12">
      <div class="input-group input-group-lg">
        <%= label_tag :keywords, nil, class: "sr-only" %>
        <%= text_field_tag :keywords, nil,
              placeholder: "Search labor records",
              class: "form-control input-lg" %>
        <%= image_tag("loading.gif", class: "img-thumbnail loading_gif") %>
        <%= image_tag("typing.gif", class: "img-thumbnail typing_gif") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag :start_date %> <br>
      <%= text_field_tag( :start_date,
          "#{params[:start_date]}",
          { autocomplete: :off,
            class: "form-control datepicker",
            placeholder: "yyyy-mm-dd" }) %>
    </div>
    <div class="form-group col-md-6">
        <%= label_tag :end_date %> <br>
        <%= text_field_tag :end_date,
        "#{params[:end_date]}",
        { autocomplete: :off,
          class: "form-control datepicker",
          placeholder: "yyyy-mm-dd" } %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag :section %> <br>
      <%= collection_select(nil, :section_filter_id, Section.all, :id, :section_name, {prompt: true}, {class: "custom-select"}) %>
    </div>
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-2">
      <br>
      <div class="actions">
        <%= submit_tag("Refresh values", class: "btn btn-primary") %>
      </div>
    </div>
  </div>
  </div>
</section>
</form>
<br>
<hr>

<div class="modal fade" id="redirectModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Labor Record Detected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>An employee cannot have more than one Labor Record assigned on the same day.</p>
        <p>Clicking the Edit button will redirect you to a page where you can edit the conflicting Labor Record.</p>
        <p> Details for that day's labor record (To be edited): </p>
        <hr>
        <div class="modal-labor-record">
          Retrieving labor record data...
        </div>
      </div>
      <div class="modal-footer">
        <div><button type="button" class="btn btn-secondary" data-dismiss="modal">Choose Different Date</button></div>
        <div id="modal_redirect_button"></div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'top_pager' %>

<section class="labor-record-panels">
  <%= render partial: 'labor_record', collection: @labor_records %>
</section>

<%= render partial: 'bottom_pager' %>
