<%= form_with(model: @invoice) do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, id: :invoice_code, class: "form-control" %>
  </div>

  <br>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="d-flex col-md-2">
      <%= form.submit "Save", class: "btn btn-primary", remote: true %>
      <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
    </div>
  </div>
<% end %>
