<div class="card" id="<%= debtor_order.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= debtor_order.customer.customer_name %>
      </h4>
      <h5>
        <%= debtor_order.order_number %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6">
        <h6><small class="text-muted">STILL OWED AMOUNT:  </small> <%= number_to_currency(debtor_order.get_still_owed_amount, unit: "R") %> </h6>
      </div>
      <div class="col-md-6">
        <h6><small class="text-muted">VALUE INCLUDING TAX: </small><%= number_to_currency(debtor_order.value_including_tax, unit: "R") %>  </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h6><small class="text-muted">TAX AMOUNT: </small><%= number_to_currency(debtor_order.tax_amount, unit: "R") %> </h6>
      </div>
      <div class="col-md-6">
        <h6><small class="text-muted">VALUE EXCLUDING TAX: </small><%= number_to_currency(debtor_order.value_excluding_tax, unit: "R") %> </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <% if !(debtor_order.job.nil?) %>
          <h6><small class="text-muted">JOB: </small><%= debtor_order.job.job_name %> </h6>
        <% end %>
      </div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_debtor_order_path(debtor_order), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', debtor_order, method: :delete, data: { confirm: debtor_order.get_removal_confirmation }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
