<div class="card" id="<%= debtor_order.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= debtor_order.customer.customer_name %>
      </h4>
      <h5>
        <%= debtor_order.invoice.code %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <% if debtor_order.job.nil? %>
      No Job
      <% else %>
      <%= debtor_order.job.job_name %>
      <% end %>
      <%= debtor_order.SA_number %>
      <%= number_to_currency(debtor_order.value_including_tax, unit: "R") %>
      <%= number_to_currency(debtor_order.tax_amount, unit: "R") %>
      <%= number_to_currency(debtor_order.value_excluding_tax, unit: "R") %>
      <%= number_to_currency(debtor_order.still_owed_amount, unit: "R") %>
    </div>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_debtor_order_path(debtor_order), class: "btn btn-primary" %>
        <%= button_to 'Remove', debtor_order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
