<%= form_with(model: @debtor_order) do |form| %>
  <% if @debtor_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debtor_order.errors.count, "error") %> prohibited this debtor_order from being saved:</h2>

      <ul>
      <% @debtor_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :customer_id %>
      <%= collection_select(:debtor_order,
                            :customer_id,
                            Customer.all,
                            :id,
                            :customer_name,
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :job_id %>
      <%= collection_select(:debtor_order,
                            :job_id,
                            Job.all,
                            :id,
                            :job_name,
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :value_including_tax %>
      <%= form.text_field :value_including_tax, id: :debtor_order_value_including_tax, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :tax_amount %>
      <%= form.text_field :tax_amount, id: :debtor_order_tax_amount, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :value_excluding_tax %>
      <%= form.text_field :value_excluding_tax, id: :debtor_order_value_excluding_tax, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label "Order number" %>
      <%= form.text_field :order_number, id: :debtor_order_order_number, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :still_owed_amount %>
      <%= form.text_field :still_owed_amount, id: :debtor_order_still_owed_amount, class: "form-control" %>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="d-flex col-md-2">
      <%= form.submit "Save", class: "btn btn-primary", remote: true %>
      <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
    </div>
  </div>
<% end %>
