<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @debtor_order.customer %>
</p>

<p>
  <strong>Job:</strong>
  <%= @debtor_order.job %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @debtor_order.invoice %>
</p>

<p>
  <strong>Sa number:</strong>
  <%= @debtor_order.SA_number %>
</p>

<p>
  <strong>Value including tax:</strong>
  <%= @debtor_order.value_including_tax %>
</p>

<p>
  <strong>Tax amount:</strong>
  <%= @debtor_order.tax_amount %>
</p>

<p>
  <strong>Value excluding tax:</strong>
  <%= @debtor_order.value_excluding_tax %>
</p>

<p>
  <strong>Still owed amount:</strong>
  <%= @debtor_order.still_owed_amount %>
</p>

<%= link_to 'Edit', edit_debtor_order_path(@debtor_order) %> |
<%= link_to 'Back', debtor_orders_path %>
