<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-row">
    <%= form.label :receive_date %>
    <%= form.datetime_select :receive_date, id: :job_receive_date %>
  </div>


  <div class="form-row">
    <%= form.label :section_id %>
    <%= collection_select(:job, :section_id, Section.all, :id, :section_name, {prompt: true}, {class: "custom-select"}) %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :contact_person %>
      <%= form.text_field :contact_person, id: :job_contact_person, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :balow_section %>
      <%= form.text_field :balow_section, id: :job_balow_section, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <%= form.label :work_description %>
    <%= form.text_field :work_description, id: :job_work_description, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :jce_number %>
      <%= form.text_field :jce_number, id: :job_jce_number, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :quotation_code %>
      <%= form.text_field :quotation_code, id: :job_quotation_code, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <%= form.label :total %>
    <%= form.text_field :total, id: :job_total, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Register Job", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
