<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :receive_date %> </br>
      <span>
        <%= form.text_field :receive_date,
                             autocomplete: :off,
                             class: "form-control datepicker",
                             placeholder: "yyyy-mm-dd" %>
      </span>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :target_date %> </br>
      <span>
        <%= form.text_field :target_date,
                             autocomplete: :off,
                             class: "form-control datepicker",
                             placeholder: "yyyy-mm-dd" %>
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :contact_person %>
      <%= form.text_field :contact_person, id: :job_contact_person, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :responsible_person %>
      <%= form.text_field :responsible_person, id: :job_responsible_person, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :section_id %>
      <%= collection_select(:job, :section_id, Section.all, :id, :section_name, {prompt: true}, {class: "custom-select"}) %>
    </div>
  </div>

  <div class="form-row">
    <%= form.label :work_description %>
    <%= form.text_field :work_description, id: :job_work_description, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :jce_number %>
      <%= form.text_field :jce_number, id: :job_jce_number, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :quotation_reference %>
      <%= form.text_field :quotation_reference, id: :job_quotation_reference, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :total %>
      <%= form.text_field :total, id: :job_total, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :targeted_amount %>
      <%= form.text_field :targeted_amount, id: :job_targeted_amount, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :still_available_amount %>
      <%= form.text_field :still_available_amount, id: :job_still_available_amount, class: "form-control", readonly: true %>
    </div>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Register Job", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
