<div class="card" id="<%= job.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= job.jce_number %>
      </h4>
      <h5>
        <%= job.receive_date.strftime("%a, %d %b %Y") %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-between">
      <div class="col-md-8">
        <h6><small class="text-muted">SECTION: </small><%= job.section.name %></h6>
      </div>
      <div class="col-md-4">
        <h6><small class="text-muted">CONTACT PERSON: </small> <%= job.contact_person %></h6>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-8">
        <h6><small class="text-muted">RESPONSIBLE PERSON: </small><%= job.responsible_person %></h6>
      </div>
      <div class="col-md-4">
        <h6><small class="text-muted">QUOTATION CODE: </small><%= job.quotation.code %> </h6>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <h5><small class="text-muted">JOB TOTAL: </small> <%= number_to_currency(job.total, unit: "R") %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
          <h6><small class="text-muted">JOB DESCRIPTION: </small><%= job.work_description %></h6>
      </div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_job_path(job), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
