<tr>
  <td><%= job.receive_date.strftime("%a, %d %b %Y") %></td>
  <td><%= job.section.name %></td>
  <td><%= job.contact_person %></td>
  <td><%= job.balow_section %></td>
  <td><%= number_to_currency(job.total, unit: "R") %></td>
  <td><%= job.work_description %></td>
  <td><%= job.jce_number %></td>
  <td><%= job.debtor_order.id %></td>
  <td><%= job.quotation.code %></td>
  <td><%= link_to 'Show', job %></td>
  <td><%= link_to 'Edit', edit_job_path(job) %></td>
  <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
