<section class="header">
  <h1>Jobs</h1>
</section>
<section class="search-form">
  <%= form_tag "/jobs", method: :get %>
  <%= label_tag :keywords, nil, class: "sr-only" %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :keywords, nil,
          placeholder: "Search Jobs",
          class: "form-control input-lg" %>
    <%= image_tag("loading.gif", class: "img-thumbnail loading_gif") %>
    <%= image_tag("typing.gif", class: "img-thumbnail typing_gif") %>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag :target_start_date %> </br>
      <%= text_field_tag( :target_start_date,
            "#{params[:target_start_date]}",
            {autocomplete: :off,
              class: "form-control datepicker",
                placeholder: "yyyy-mm-dd"}) %>
    </div>
    <div class="form-group col-md-6">
        <%= label_tag :target_end_date %> </br>
        <%= text_field_tag :target_end_date,
            "#{params[:target_end_date]}",
            {autocomplete: :off,
              class: "form-control datepicker",
                placeholder: "yyyy-mm-dd"} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag :receive_start_date %> </br>
      <%= text_field_tag( :receive_start_date,
            "#{params[:receive_start_date]}",
            {autocomplete: :off,
              class: "form-control datepicker",
                placeholder: "yyyy-mm-dd"}) %>
    </div>
    <div class="form-group col-md-6">
        <%= label_tag :receive_end_date %> </br>
        <%= text_field_tag :receive_end_date,
            "#{params[:receive_end_date]}",
            {autocomplete: :off,
              class: "form-control datepicker",
                placeholder: "yyyy-mm-dd"} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag :target_status_filter %> <br>
      <%= select_tag "targets", options_for_select(["All", "Not targeted", "Partially targeted", "Fully targeted"], "All"), {class: "custom-select"} %>
    </div>
    <div class="form-group col-md-6">
      <%= label_tag :completion_status_filter %> <br>
      <%= select_tag "completes", options_for_select(["All", "Not finished", "Finished"], "All"), {class: "custom-select"} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-10"></div>
    <div class="form-group col-md-2">
      <%= submit_tag("Refresh values", class: "btn btn-primary") %>
    </div>
  </div>
</section>

<%= render partial: 'top_pager' %>

</br>


<section class="job-panels">
  <%= render partial: 'job', collection: @jobs %>
</section>

<%= render partial: 'bottom_pager' %>
