<h1>Payroll</h1>
<% normal_time_hours = normal_time_hours(params[:start_date], params[:end_date]) %>
<h3>Normal time hours: <%= normal_time_hours %></h3>
<h3>Dates: </h3>
<%= form_tag("/payroll", method: "get") do %>

  <div class="row">
    <div class="form-group col-md-5">
      <%= label_tag :start_date %> </br>
      <%= text_field_tag( :start_date,
                          "#{params[:start_date]}",
                          {autocomplete: :off,
                          class: "form-control datepicker"}) %>
    </div>
    <div class="form-group col-md-5">
      <%= label_tag :end_date %> </br>
      <%= text_field_tag :end_date,
                          "#{params[:end_date]}",
                          {autocomplete: :off,
                          class: "form-control datepicker"} %>
    </div>
    <div class="form-group col-md-2">
      </br>
      <%= submit_tag("Refresh dates", class: "btn btn-lg btn-primary") %>
    </div>
  </div>
<% end %>
</br>

<ol class="list-group">

  <% @employee_details.each do |key, emp| %>
    <% employee = Employee.find_by(id: key) %>
    <li class="list-group-item">
      <div class="row">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1"><%= employee.first_name %> <%= employee.last_name %></h4>
          <small class="text-muted"><%= employee.occupation %></small>
        </div>

      </div>


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th colspan="3">Normal Time</th>
            <th colspan="3">Overtime</th>
            <th colspan="3">Sunday time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hours:</td>
            <td>Rate:</td>
            <td>Subtotal:</td>
            <td>Hours:</td>
            <td>Rate:</td>
            <td>Subtotal:</td>
            <td>Hours:</td>
            <td>Rate:</td>
            <td>Subtotal:</td>
          </tr>
          <% if emp[:normal_time] > normal_time_hours %>
            <% overtime = emp[:normal_time] - normal_time_hours %>
            <% emp[:normal_time] = emp[:normal_time] - overtime %>
          <% else %>
            <% overtime = 0 %>
          <% end %>
          <% rate = employee.net_rate %>
          <tr>
            <td><%= emp[:normal_time] %></td>
            <td><%= number_to_currency(rate, unit: "R") %></td>
            <td><%= number_to_currency(emp[:normal_time] * rate, unit: "R") %></td>
            <td><%= overtime %></td>
            <td><%= number_to_currency(rate * 1.5, unit: "R") %></td>
            <td><%= number_to_currency(rate * 1.5 * overtime, unit: "R") %></td>
            <td><%= emp[:sunday_time] %></td>
            <td><%= number_to_currency(rate * 2.0, unit: "R") %></td>
            <td><%= number_to_currency(rate * 2.0 * emp[:sunday_time], unit: "R") %></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-3">
          <h4> Net Total: </h4>
        </div>
        <div class="col-md-3">
          <% net_total = emp[:normal_time] * rate + rate * 1.5 * overtime + rate * 2.0 * emp[:sunday_time] %>
          <h4> <%= number_to_currency(net_total, unit: "R") %> </h4>
        </div>
        <div class="col-md-3">
          <h4> Gross Total: </h4>
        </div>
        <div class="col-md-3">
          <h4><%= number_to_currency(net_total*1.2, unit: "R") %></h4>
        </div>
      </div>


    </li>
    </br>
  <% end %>
</ol>

<br>
