<%= form_with(model: @manager) do |form| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :employee_id %>
        <%= collection_select(:employee,
                              :employee_id,
                              leaf_employees(),
                              :id,
                              :employee_name,
                              {prompt: true},
                              {class: "custom-select"}) %>
      </div>
      <div class="form-group col-md-6">
        <%= form.label :section_id %>
        <%= collection_select(:section,
                              :section_id,
                              unmanaged_sections(),
                              :id,
                              :section_name,
                              {prompt: true},
                              {class: "custom-select"}) %>
      </div>
    </div>






    <br>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= form.submit "Save", class: "btn btn-primary", remote: true %>
        <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
      </div>
    </div>
<% end %>
