<% if employee.eoc %>
  <div class="card border-danger" id="<%= employee.id %>">
<% else %>
  <div class="card" id="<%= employee.id %>">
<% end %>
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4 class="card-text"> <%= "#{employee.first_name} #{employee.last_name}" %> </h4>
      <h5 class="card-text"> <%= employee.occupation %> </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">SECTION: </small><%= employee.section.name %>
      </div>
      <div class="col-md-6">
        <small class="text-muted">COMPANY NUMBER: </small><%= employee.company_number %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">NET RATE: </small><%= number_to_currency(employee.net_rate, unit: "R") %>
      </div>
      <div class="col-md-6">
        <small class="text-muted">INCLUSIVE RATE: </small><%= number_to_currency(employee.inclusive_rate, unit: "R") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_employee_path(employee), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', employee, method: :delete, data: { confirm: Employee.removal_confirmation(employee.id) }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
<br>
