<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @section.employee %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
