<%= form_with(model: @customer) do |form| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, id: :customer_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :customer_phone, class: "form-control" %>
  </div>

  <br>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="d-flex col-md-2">
      <%= form.submit "Save", class: "btn btn-primary", remote: true %>
      <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
    </div>
  </div>
<% end %>
