<%= form_with(model: job_target) do |form| %>
  <% if job_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_target.errors.count, "error") %> prohibited this Job Target from being saved:</h2>

      <ul>
      <% job_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :job_id %>
      <%= collection_select(:job_target, # target table
                            :job_id,
                            Job.all, # selector function
                            :id, # index
                            :job_name, # text
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :section_id %>
      <%= collection_select(:job_target, # target table
                            :section_id,
                            Section.all, # selector function
                            :id, # index
                            :section_name, # text
                            {prompt: true},
                            {class: "custom-select"}) %>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :target_amount %>
      <%= form.text_field :target_amount, id: :job_target_target_amount, class: "form-control" %>
    </div>
  </div>

    <br>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= form.submit "Save", class: "btn btn-primary", remote: true %>
        <%= form.submit "Cancel", class: "btn btn-disabled", remote: true, method: :get %>
      </div>
    </div>
<% end %>
