<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Job Targets",
    entity: :job_targets,
    placeholder_text: "Search Job Targets" } %>


<%= render partial: 'top_pager' %>

<div class="d-flex justify-content-between">
  <div>
  </div>
  <div>
    <%= button_to 'New Job Target', new_job_target_path, class: "btn", method: :get %>
  </div>
</div>
<hr>
<br>
<section class="job-target-panels">
  <%= render partial: 'job_target', collection: @job_targets %>
</section>

<%= render partial: 'bottom_pager' %>
