<p id="notice"><%= notice %></p>

<p>
  <strong>Target date:</strong>
  <%= @job_target.target_date %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @job_target.invoice_number %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @job_target.remarks %>
</p>

<p>
  <strong>Details:</strong>
  <%= @job_target.details %>
</p>

<p>
  <strong>Target amount:</strong>
  <%= @job_target.target_amount %>
</p>

<p>
  <strong>Section:</strong>
  <%= @job_target.section %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_target.job %>
</p>

<%= link_to 'Edit', edit_job_target_path(@job_target) %> |
<%= link_to 'Back', job_targets_path %>
