<div class="card" id="<%= creditor_order.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4><%= creditor_order.supplier.supplier_name %></h4>
      <h5><%= creditor_order.job.job_name %></h5>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h6><small class="text-muted">INVOICE CODE: </small> <%= creditor_order.invoice.code %> </h6>
      </div>
      <div>
        <h6><small class="text-muted">DATE ISSUED: </small> <%= creditor_order.date_issued.strftime("%a, %d %b %Y") %> </h6>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <h6>
          <small class="text-muted">VALUE EXCLUDING TAX: </small>
          <%= number_to_currency(creditor_order.value_excluding_tax, unit: "R") %>
        </h6>
      </div>
      <div>
        <h6>
          <small class="text-muted">VALUE INCLUDING TAX: </small>
          <%= number_to_currency(creditor_order.value_including_tax, unit: "R") %>
        </h6>
      </div>
      <div>
        <h6>
          <small class="text-muted">STILL OWED AMOUNT: </small>
          <%= number_to_currency(creditor_order.still_owed_amount, unit: "R") %>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h6><small class="text-muted">NOTE: </small> <%= creditor_order.delivery_note %> </h6>
      </div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_creditor_order_path(creditor_order), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', creditor_order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
