<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Creditor Orders",
    entity: :creditor_orders,
    placeholder_text: "Search creditor orders" } %>

<%= render partial: 'top_pager' %>

<%= render partial: 'shared/dates', locals: { path: "/creditor_orders" } %>

<section class="creditor-order-panels">
  <% @creditor_orders.each do |creditor_order| %>
      <%= render creditor_order %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
