<div class="card" id="<%= entity.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= card_header_text %>
      </h4>
      <h5>
        <%= card_subheader_text %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'shared/cards/row', collection: rows %>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', path, remote: true, method: :get, class: "btn btn-primary" %>
        <% defined?(confirm) == "local-variable" ? confirm = confirm : confirm = "Are you sure?" %>
        <%= button_to 'Remove', entity, method: :delete, data: { confirm: confirm }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
