<%= form_with(model: debtor_payment, local: true) do |form| %>
  <% if debtor_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debtor_payment.errors.count, "error") %> prohibited this debtor_payment from being saved:</h2>

      <ul>
      <% debtor_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :debtor_order_id %>
      <%= collection_select(:debtor_payment,
                          :debtor_order_id,
                          DebtorOrder.all,
                          :id,
                          :debtor_order_name,
                          {prompt: true},
                          {class: "custom-select"}) %>


    </div>

    <div class="col-md-4">
      <%= form.label :total %>
      <h5 id="total"><%= number_to_currency(0.0, unit: "R") %></h5>
    </div>
    <div class="col-md-4">
      <%= form.label :still_owed_amount %>
      <h5 id="remaining"><%= number_to_currency(0.0, unit: "R") %></h5>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :payment_date %>
      <%= form.text_field  :payment_date,
        id: :datetimepicker, class: "form-control",
        placeholder: "YYYY-MM-DD hh:mm", autocomplete: false %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :payment_amount %>
      <%= form.text_field :payment_amount, id: :debtor_payment_payment_amount, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :payment_type %>
      <%= form.text_field :payment_type, id: :debtor_payment_payment_type, class: "form-control" %>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-9">
      <%= form.label :note %>
      <%= form.text_field :note, id: :debtor_payment_note, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :invoice_code %>
      <%= form.text_field :invoice_code, id: :debtor_payment_invoice_code, class: "form-control" %>
    </div>
  </div>

  </br>
  <div class="actions">
    <%= form.submit "Create Debtor Payment", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
