<section class="header">
  <div class="d-flex justify-content-between">
    <h1 class="col-md-4">Labor Records</h1>
    <section class="search-form col-md-8">
      <%= form_for :labor_records, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil,
                placeholder: "Search labor records",
                class: "form-control input-lg" %>
          </span>
        </div>
      <% end %>
    </section>
  </div>
</section>

<%= render partial: 'top_pager' %>

<section class="labor-record-panels">
  <% @labor_records.each do |labor_record| %>
      <%= render labor_record %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
