<div class="card" id="<%= customer.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= customer.name %>
      </h4>
      <h5>
        <%= customer.email %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <h6><small class="text-muted">PHONE: </small><%= customer.phone %> </h6>
    </div>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_customer_path(customer), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', customer, method: :delete, data: { confirm: Customer.removal_confirmation(customer.id) }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
