<div class="card" id="<%= supplier.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= supplier.name %>
      </h4>
      <h5>
        <%= supplier.email %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <h6><small class="text-muted">PHONE: </small><%= supplier.phone %></h6>
    </div>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_supplier_path(supplier), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', supplier, method: :delete, data: { confirm: supplier.get_removal_confirmation }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
