<section class="header">
    <h1>Debtor Orders</h1>
</section>
<section class="search-form">
  <%= form_for :debtor_orders, method: :get do |f| %>
  <%= label_tag :keywords, nil, class: "sr-only" %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :keywords, nil,
          placeholder: "Search debtor orders",
          class: "form-control input-lg" %>
    <%= image_tag("loading.gif", class: "img-thumbnail loading_gif") %>
    <%= image_tag("typing.gif", class: "img-thumbnail typing_gif") %>
  </div>
  <% end %>
</section>


<%= render partial: 'shared/dates', locals: { path: "/debtor_orders" } %>

<%= render partial: 'top_pager' %>


<section class="debtor-order-panels">
  <% @debtor_orders.each do |debtor_order| %>
      <%= render debtor_order %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
