<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Employees", employees_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sections", sections_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Managers", managers_path, class: "nav-link" %>
  </li>
  <div class="dropdown-divider"></div>
  <li class="nav-item">
    <%= link_to "Jobs", jobs_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Job Targets", job_targets_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Labor Records", labor_records_path, class: "nav-link" %>
  </li>
  <div class="dropdown-divider"></div>
  <li class="nav-item">
    <%= link_to "Customers", customers_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Suppliers", suppliers_path, class: "nav-link" %>
  </li>
  <div class="dropdown-divider"></div>
  <li class="nav-item">
    <%= link_to "Debtor Orders", debtor_orders_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Debtor Payments", debtor_payments_path, class: "nav-link" %>
  </li>
  <div class="dropdown-divider"></div>
  <li class="nav-item">
    <%= link_to "Creditor Orders", creditor_orders_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Creditor Payments", credit_notes_path, class: "nav-link" %>
  </li>
</ul>
