<!DOCTYPE html>
<html>
  <head>
    <title>Erulid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" style="margin-left:0px">
      <div class="row">
        <div class="col-md-2" style="background-color: lightgray">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-10">
          <% if notice.present? %>
            <aside class="alert alert-info">
              <%= notice %>
            </aside>
          <% end %>
          <% if alert.present? %>
            <aside class="alert alert-danger">
              <%= alert %>
            </aside>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
