<div class="card" id="<%= creditor_payment.id %>">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>
        <%= creditor_payment.creditor_order.creditor_order_name %>
      </h4>
      <h5>
        <%= number_to_currency(creditor_payment.amount_paid, unit: "R") %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">PAYMENT TYPE: </small> <%= creditor_payment.payment_type %></h6>
      </div>
      <div class="col-md-6">
        <small class="text-muted">INVOICE CODE: </small> <%= creditor_payment.invoice_code %></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h6><small class="text-muted">NOTE: </small> <%= creditor_payment.note %> </h6>
      </div>
      <div class="d-flex col-md-2">
        <%= button_to 'Edit', edit_creditor_payment_path(creditor_payment), remote: true, method: :get, class: "btn btn-primary" %>
        <%= button_to 'Remove', creditor_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<br>
