<p id="notice"><%= notice %></p>

<p>
  <strong>Creditor order:</strong>
  <%= @creditor_payment.creditor_order %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @creditor_payment.payment_type %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @creditor_payment.amount_paid %>
</p>

<p>
  <strong>Note:</strong>
  <%= @creditor_payment.note %>
</p>

<%= link_to 'Back', creditor_payments_path %>
